// Colors
$main-color: #e52b34;
$sacndery-color: #f7fafc;
$black: #333;
$white: #fff;
$gray-dark: #5c5c5c;
$gray: #ffffffb3;
$bg-white: #fafafa;
$bg-black: #1a1a1a;

// Media
$mobile-width: 767px;
$tab-width: 991px;

$f-size: 0.8rem;

$f-family: "Dancing Script", cursive;
